<script>
import ItemsListComponent from "../components/ItemsListComponent.vue";
import HeaderComponent from "../components/HeaderComponent.vue";
import IngredientsListComponent from "../components/IngredientsListComponent.vue";
import cookingList from "/src/data/cooking_list.json";
import { ref } from "vue";

export default {
  name: "CookingPage",
  components: { ItemsListComponent, HeaderComponent, IngredientsListComponent },
  setup() {
    const list = cookingList;

    const showIngredientsList = ref(false);
    const displayIngredientsList = () => {
      showIngredientsList.value = !showIngredientsList.value;
    };

    return {
      list,
      showIngredientsList,
      displayIngredientsList,
    };
  },
};
</script>

<template>
  <section class="bg-blue-100 px-3 flex flex-col">
    <HeaderComponent>Cooking tracker</HeaderComponent>
    <p class="text-blue-900 mb-10">
      Cooking is a game mechanic that becomes available after upgrading the
      farmhouse for the first time. The player must learn each recipe before it
      is unlocked for cooking.
    </p>
    <button
      @click="displayIngredientsList"
      class="mx-auto mb-10 p-3 bg-blue-400 rounded-md text-blue-50 font-bold tracking-wider"
    >
      List of needed ingredients
    </button>
    <IngredientsListComponent v-if="showIngredientsList" class="mb-10" />
    <ItemsListComponent :list="list" />
  </section>
</template>
