<script>
import cropsList from "/src/data/list_of_crops.json";
import ItemsListComponent from "../components/ItemsListComponent.vue";
export default {
  name: "CropsPage",
  components: { ItemsListComponent },

  setup() {
    const itemList = cropsList;

    return {
      itemList,
    };
  },
};
</script>

<template>
  <section>
    <ItemsListComponent :list="itemList" />
  </section>
</template>
