<script>
import HeaderComponent from "../components/HeaderComponent.vue";
import ItemsListComponent from "../components/ItemsListComponent.vue";
import fishingList from "/src/data/fishing_list.json";
export default {
  name: "FishPage",
  components: { HeaderComponent, ItemsListComponent },

  setup() {
    const list = fishingList;

    return {
      list,
    };
  },
};
</script>

<template>
  <section class="bg-blue-100 px-3 flex flex-col">
    <HeaderComponent>Fishing Tracker</HeaderComponent>
    <p class="text-blue-900 mb-10">
      Fish can be caught in oceans, lakes, rivers, and certain underground
      locations. Most fish can be caught with a fishing pole. The others require
      crab pots to catch. Some fish spawn only at certain times of the day,
      during certain seasons, or during certain weather.All fish can be caught
      regardless of weather, time, or season using Magic Bait.
    </p>
    <ItemsListComponent :list="list" />
  </section>
</template>
