<script>
import HeaderComponent from "../components/HeaderComponent.vue";
import ItemsListComponent from "../components/ItemsListComponent.vue";
import villagersList from "/src/data/villagers_list.json";
export default {
  name: "FriendshipPage",
  components: {
    HeaderComponent,
    ItemsListComponent,
  },
  setup() {
    const list = villagersList;
    return {
      list,
    };
  },
};
</script>

<template>
  <section class="bg-blue-100 px-3 flex flex-col">
    <HeaderComponent>Friendship Tracker</HeaderComponent>
    <p class="text-blue-900 mb-10">
      Friendship can be earned with Pelican Town's villagers. As friendships
      deepen, the villagers' dialogue lines become more friendly, cut-scenes
      called heart events occur, villagers are more likely to send gifts in the
      mail, and marriage is possible with one of the datable villagers.
    </p>
    <ItemsListComponent :list="list" />
  </section>
</template>
