<script>
import NavigationList from "../components/NavigationList.vue";
export default {
  name: "HomePage",
  components: { NavigationList },
};
</script>

<template>
  <section>
    <img src="src/assets/images/logo_sv.svg" alt="Logo of Stardew Valley" />
    <NavigationList />
  </section>
</template>
