<script>
import ItemsListComponent from "../components/ItemsListComponent.vue";
import shippedItems from "/src/data/list_of_item_shipped.json";
export default {
  name: "ItemsToShippedPage",
  components: {
    ItemsListComponent,
  },

  setup() {
    const itemList = shippedItems;

    return {
      itemList,
    };
  },
};
</script>

<template>
  <section>
    <ItemsListComponent :list="itemList" />
  </section>
</template>
