<script>
import HeaderComponent from "../components/HeaderComponent.vue";
import ItemsListComponent from "../components/ItemsListComponent.vue";
import monsterList from "/src/data/monsters_list.json";
export default {
  name: "MonsterSlayPage",
  components: { HeaderComponent, ItemsListComponent },

  setup() {
    const list = monsterList;

    return {
      list,
    };
  },
};
</script>

<template>
  <section class="bg-blue-100 px-3 flex flex-col">
    <HeaderComponent>Monster Eradication Goals</HeaderComponent>
    <p class="text-blue-900 mb-10">
      The Adventurer's Guild is located east of The Mines and is the home of
      Marlon and Gil. There the player can purchase Weapons, Boots, and Rings.
      Marlon will also buy weapons, boots, and rings, as well as Monster Loot
      from the player. To access the Adventurer's Guild, the player must first
      complete the story quest "Initiation". Once completed, the guild is open
      daily from 2pm to 10pm, except on festival days when the door is locked.
    </p>
    <ItemsListComponent :list="list" />
  </section>
</template>
