<script>
import HeaderComponent from "../components/HeaderComponent.vue";
import ItemsListComponent from "../components/ItemsListComponent.vue";
import obeliskList from "/src/data/list_of_obelisks.json";
export default {
  name: "ObelisksPage",
  components: { HeaderComponent, ItemsListComponent },

  setup() {
    const list = obeliskList;

    return {
      list,
    };
  },
};
</script>

<template>
  <section class="bg-blue-100 px-3">
    <HeaderComponent>Obelisk tracker</HeaderComponent>
    <p class="text-blue-900 mb-10">
      This type of farm building is purchasable from the Wizard at the Wizard's
      Tower after finishing the Goblin Problem quest.
    </p>
    <ItemsListComponent :list="list" />
  </section>
</template>
