<script>
import NavigationItem from "../components/NavigationItem.vue";
import HeaderComponent from "../components/HeaderComponent.vue";
export default {
  name: "PerfectionTrackerPage",
  components: { NavigationItem, HeaderComponent },
  setup() {
    const perfectionList = [
      {
        id: 1,
        text: "Shipped every item tracker",
        linkPath: "/perfection-tracker/items-shipped-page",
        iconSrc: "/icons/36px-Mini-Shipping_Bin.png",
        iconAlt: "Mini shipping bin icon",
      },
      {
        id: 2,
        text: "Obelisks tracker",
        linkPath: "/perfection-tracker/obelisks-page",
        iconSrc: "/icons/36px-Warp_Totem_Farm.png",
        iconAlt: "Warp totem to farm icon",
      },
      {
        id: 3,
        text: "Golden Clock tracker",
        linkPath: "/perfection-tracker/golden-clock-page",
        iconSrc: "/icons/Ancient_Fruit.png",
        iconAlt: "Ancient Fruit icon",
      },
      {
        id: 4,
        text: "Monster slay tracker",
        linkPath: "/perfection-tracker/monster-slayed-page",
        iconSrc: "/icons/Silver_Saber.png",
        iconAlt: "Silver saber icon",
      },
      {
        id: 5,
        text: "Friendship tracker",
        linkPath: "/perfection-tracker/friendship-page",
        iconSrc: "/icons/Sebastian_Icon.png",
        iconAlt: "Sebastian icon",
      },
      {
        id: 6,
        text: "Farmer level tracker",
        linkPath: "/perfection-tracker/farmer-skills-page",
        iconSrc: "/icons/48px-Farming_Skill_Icon.png",
        iconAlt: "Farming skill icon",
      },
      {
        id: 7,
        text: "Stardrops tracker",
        linkPath: "/perfection-tracker/stardrops-page",
        iconSrc: "/icons/Stardrop.png",
        iconAlt: "Stardrop icon",
      },
      {
        id: 8,
        text: "Cooking tracker",
        linkPath: "/perfection-tracker/cooking-page",
        iconSrc: "/icons/Bread.png",
        iconAlt: "Bread icon",
      },
      {
        id: 9,
        text: "Crafting items tracker",
        linkPath: "/perfection-tracker/crafting-items-page",
        iconSrc: "/icons/Chest.png",
        iconAlt: "Chest icon",
      },
      {
        id: 10,
        text: "Fish caught tracker",
        linkPath: "/perfection-tracker/fish-caught-page",
        iconSrc: "/icons/Fiberglass_Rod.png",
        iconAlt: "Fiberglass rod icon",
      },
      {
        id: 11,
        text: "Golden walnuts tracker",
        linkPath: "/perfection-tracker/golden-walnuts-page",
        iconSrc: "/icons/Golden_Walnut.png",
        iconAlt: "Golden walnut icon",
      },
    ];

    return {
      perfectionList,
    };
  },
};
</script>

<template>
  <section class="bg-blue-100 px-3 flex flex-col">
    <HeaderComponent> Things to do to achieve perfection</HeaderComponent>
    <NavigationItem
      v-for="perfectionItem in perfectionList"
      :key="perfectionItem.id"
      :navigation-item="perfectionItem"
      class="mb-10"
    />
  </section>
</template>
