<script>
import HeaderComponent from "../components/HeaderComponent.vue";
import ItemsListComponent from "../components/ItemsListComponent.vue";
import stardropsList from "/src/data/stardrops_list.json";
export default {
  name: "StardropsPage",
  components: {
    HeaderComponent,
    ItemsListComponent,
  },

  setup() {
    const list = stardropsList;

    return {
      list,
    };
  },
};
</script>

<template>
  <section class="bg-blue-100 px-3 flex flex-col">
    <HeaderComponent>Stardrops Traker</HeaderComponent>
    <p class="text-blue-900 mb-10">
      A Stardrop is a special item that permanently increases the player's
      maximum energy by 34 points. The player must immediately consume any
      Stardrop as soon as it is obtained; it is impossible to add a Stardrop to
      inventory or save it to eat later. A maximum of seven Stardrops are
      available in any game, which together result in 508 maximum energy, nearly
      doubling the initial value of 270. Finding all Stardrops is necessary to
      achieve Perfection. Despite the numbers listed on the tooltip, consuming a
      Stardrop will restore all of the player's energy as well as increase
      maximum energy, regardless of how low the energy was before consuming it.
      No health is restored when consuming a stardrop.
    </p>
    <ItemsListComponent :list="list" />
  </section>
</template>
