<script>
import IngredientsListElement from "./IngredientsListElement.vue";
import ingredientsList from "/src/data/list_of_needed_ingredients.json";
export default {
  name: "IngredientsListComponent",
  components: { IngredientsListElement },

  setup() {
    const list = ingredientsList;

    return {
      list,
    };
  },
};
</script>

<template>
  <ul class="grid grid-cols-2 gap-y-4 bg-white py-5 rounded-md">
    <IngredientsListElement
      v-for="ingredient in list"
      :key="ingredient.name"
      :ingredient="ingredient"
      class="mx-auto"
    />
  </ul>
</template>
