<script>
import { ref } from "vue";
export default {
  name: "IngredientsListElement",
  props: {
    ingredient: {
      type: Object,
      required: true,
    },
  },

  setup() {
    const check = ref(false);

    const itemCheck = () => {
      check.value = !check.value;
    };

    return {
      check,
      itemCheck,
    };
  },
};
</script>

<template>
  <li :class="[check === true ? 'line-through' : '']">
    <button @click="itemCheck" class="flex flex-row items-center">
      <img
        :src="ingredient.iconSrc"
        :alt="ingredient.iconAlt"
        class="w-5 h-5 mr-2"
      />
      <span>{{ ingredient.name }}: {{ ingredient.amount }}</span>
    </button>
  </li>
</template>
