<script>
import TitleComponent from "./TitleComponent.vue";
import ItemRecipeSource from "./ItemRecipeSource.vue";
import ItemIngredientsComponent from "./ItemIngredientsComponent.vue";
import { ref } from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faCheck } from "@fortawesome/free-solid-svg-icons";
import ObeliskMaterialsComponent from "./ObeliskMaterialsComponent.vue";
import ItemCatchingDetails from "./ItemCatchingDetails.vue";
import StardropDetailsComponent from "./StardropDetailsComponent.vue";
import MonsterDetailsComponent from "./MonsterDetailsComponent.vue";
import VillagerDetailsComponent from "./VillagerDetailsComponent.vue";
library.add(faCheck);
export default {
  name: "ItemComponent",
  components: {
    VillagerDetailsComponent,
    MonsterDetailsComponent,
    ObeliskMaterialsComponent,
    TitleComponent,
    ItemRecipeSource,
    ItemIngredientsComponent,
    ItemCatchingDetails,
    StardropDetailsComponent,
  },

  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  setup() {
    const moreInfo = ref(false);
    const itemFinished = ref(false);

    const displayMoreInfo = () => {
      moreInfo.value = !moreInfo.value;
    };
    const itemCheck = () => {
      itemFinished.value = true;
    };

    return {
      moreInfo,
      displayMoreInfo,
      itemFinished,
      itemCheck,
    };
  },
};
</script>

<template>
  <li
    :class="[itemFinished === true ? 'bg-blue-200' : 'bg-white']"
    class="py-6 px-3 w-full rounded-md"
  >
    <div class="grid grid-cols-4 gap-x-1 items-center mb-3">
      <img
        :src="item.iconSrc"
        :alt="item.iconAlt"
        :class="[itemFinished === true ? 'filter blur-sm ' : '']"
      />
      <span :class="[itemFinished === true ? 'text-blue-400' : '']">{{
        item.name
      }}</span>
      <button
        @click="displayMoreInfo"
        :class="[itemFinished === true ? 'text-blue-400' : 'text-amber-500']"
        class="text-amber-500 underline"
      >
        More info
      </button>
      <button
        @click="itemCheck"
        v-if="item.ingredients"
        :class="[itemFinished === true ? 'hidden' : 'block']"
        class="bg-amber-400 text-amber-50"
      >
        Cooked
      </button>
      <button
        @click="itemCheck"
        v-if="item.build_materials"
        :class="[itemFinished === true ? 'hidden' : 'block']"
        class="bg-amber-400 text-amber-50"
      >
        Purchased
      </button>
      <button
        @click="itemCheck"
        v-if="item.where_to_find"
        :class="[itemFinished === true ? 'hidden' : 'block']"
        class="bg-amber-400 text-amber-50"
      >
        Caught
      </button>
      <button
        @click="itemCheck"
        v-if="item.location"
        :class="[itemFinished === true ? 'hidden' : 'block']"
        class="bg-amber-400 text-amber-50"
      >
        Found
      </button>
      <button
        @click="itemCheck"
        v-if="item.quantity"
        :class="[itemFinished === true ? 'hidden' : 'block']"
        class="bg-amber-400 text-amber-50"
      >
        Fought
      </button>
      <button
        @click="itemCheck"
        v-if="item.gifts"
        :class="[itemFinished === true ? 'hidden' : 'block']"
        class="bg-amber-400 text-amber-50"
      >
        Max out
      </button>
      <font-awesome-icon
        icon="fa-solid fa-check"
        v-if="itemFinished"
        class="mx-auto text-blue-400"
      />
    </div>
    <div
      :class="[moreInfo === true ? 'flex flex-col' : 'hidden']"
      class="w-full"
    >
      <ItemIngredientsComponent
        v-if="item.ingredients"
        :list="item.ingredients"
        :class="[itemFinished === true ? 'hidden' : 'block']"
      />
      <ItemRecipeSource
        v-if="item.recipe_source"
        :list="item.recipe_source"
        :class="[itemFinished === true ? 'hidden' : 'block']"
      />
      <div :class="[itemFinished === true ? 'hidden' : 'block']">
        <ObeliskMaterialsComponent
          v-if="item.build_materials"
          :list="item.build_materials"
        />
        <div v-if="item.build_materials" class="flex flex-row items-center">
          <img src="/icons/27px-Gold.png" alt="Coin icon" />
          <span>{{ item.build_cost }}</span>
        </div>
      </div>
      <ItemCatchingDetails
        v-if="item.where_to_find"
        :where-to-find="item.where_to_find"
        :when-to-find="item.when_to_find"
        :which-season="item.which_season"
        :weather="item.weather"
        :class="[itemFinished === true ? 'hidden' : 'block']"
      />
      <StardropDetailsComponent
        v-if="item.location"
        :location="item.location"
        :class="[itemFinished === true ? 'hidden' : 'block']"
      />
      <MonsterDetailsComponent
        v-if="item.quantity"
        :amount="item.quantity"
        :types="item.types"
        :reward="item.reward"
        :class="[itemFinished === true ? 'hidden' : 'block']"
      />
      <VillagerDetailsComponent
        v-if="item.birthday"
        :birthday="item.birthday"
        :gifts="item.gifts"
        :loved-movies="item.loved_movies"
        :disliked-movies="item.disliked_movies"
        :loved-snacks="item.loved_movie_snacks"
        :disliked-snacks="item.dislike_movie_snacks"
        :class="[itemFinished === true ? 'hidden' : 'block']"
      />
    </div>
  </li>
</template>
