<script>
import TitleComponent from "./TitleComponent.vue";
export default {
  name: "ItemCatchingDetails",
  components: {
    TitleComponent,
  },
  props: {
    whenToFind: {
      type: Array,
      required: true,
    },
    whereToFind: {
      type: Array,
      required: true,
    },
    whichSeason: {
      type: Array,
      required: true,
    },
    weather: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div>
    <TitleComponent>Where to catch</TitleComponent>
    <div class="grid grid-cols-2 grid-rows-2 gap-2 justify-center mb-3">
      <div
        v-for="item in whereToFind"
        :key="item.id"
        class="flex flex-row items-center"
      >
        {{ item.location }}
      </div>
    </div>
    <TitleComponent>When to catch</TitleComponent>
    <div class="grid grid-cols-2 grid-rows-2 gap-2 justify-center mb-3">
      <div
        v-for="item in whenToFind"
        :key="item.id"
        class="flex flex-row items-center"
      >
        {{ item.time }}
      </div>
    </div>
    <TitleComponent>In which season</TitleComponent>
    <div class="grid grid-cols-2 grid-rows-2 gap-2 justify-center mb-3">
      <div
        v-for="item in whichSeason"
        :key="item.id"
        class="flex flex-row items-center"
      >
        <img :src="item.iconSrc" :alt="item.iconAlt" class="mr-3" />
        <span> {{ item.season }}</span>
      </div>
    </div>
    <TitleComponent>Weather</TitleComponent>
    <div class="grid grid-cols-2 grid-rows-2 gap-2 justify-center mb-3">
      <div>
        {{ weather }}
      </div>
    </div>
  </div>
</template>
