<script>
import TitleComponent from "./TitleComponent.vue";
export default {
  name: "ItemIngredientsComponent",
  components: {
    TitleComponent,
  },
  props: {
    list: {
      type: Array,
      required: true,
    },
  },
};
</script>

<template>
  <div>
    <TitleComponent>List of ingredients</TitleComponent>
    <div class="grid grid-cols-2 grid-rows-2 gap-2 justify-center mb-3">
      <div
        v-for="ingredient in list"
        :key="ingredient.name"
        class="flex flex-row items-center"
      >
        <div class="mr-3">
          <img
            class="w-6 h-6"
            :src="ingredient.iconSrc"
            :alt="ingredient.iconAlt"
          />
        </div>
        <div>{{ ingredient.name }} : {{ ingredient.amount }}</div>
      </div>
    </div>
  </div>
</template>
