<script>
import TitleComponent from "./TitleComponent.vue";
import { computed } from "vue";

export default {
  name: "ItemRecipeSource",
  components: {
    TitleComponent,
  },
  props: {
    list: {
      type: Array,
      required: true,
    },
  },

  setup(props) {
    const isHeartEvent = computed(() => {
      const text = props.list[0].sourceText;
      const symbol = "+";
      const word = "event";

      if (text.includes(symbol) || text.includes(word)) {
        return true;
      }
    });

    return {
      isHeartEvent,
    };
  },
};
</script>

<template>
  <div>
    <TitleComponent>How to obtain recipe</TitleComponent>
    <div class="grid grid-cols-2 gap-3">
      <div v-for="itemSource in list" :key="itemSource.name">
        <div class="flex flex-row items-center">
          <img
            :src="itemSource.sourceIcon"
            :alt="itemSource.sourceAlt"
            class="mr-3"
          />
          <p>
            {{ itemSource.sourceText }}
          </p>
          <img
            v-if="isHeartEvent"
            src="/icons/24px-HeartIconLarge.png"
            alt="Heart icon"
            class="w-5 h-5 ml-2"
          />
        </div>
      </div>
    </div>
  </div>
</template>
