<script>
import ItemComponent from "./ItemComponent.vue";
export default {
  name: "ItemsListComponent",
  components: { ItemComponent },
  props: {
    list: {
      type: Array,
      required: true,
    },
  },
};
</script>

<template>
  <ul>
    <ItemComponent
      v-for="item in list"
      :key="item.name"
      :item="item"
      class="mb-5"
    />
  </ul>
</template>
