<script>
import TitleComponent from "./TitleComponent.vue";
export default {
  name: "MonsterDetailsComponent",
  components: {
    TitleComponent,
  },
  props: {
    amount: {
      type: Number,
      required: true,
    },
    types: {
      type: Array,
      required: true,
    },
    reward: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <div>
    <TitleComponent>Types that you can fight to complete quest</TitleComponent>
    <div
      v-for="item in types"
      :key="item.name"
      class="grid grid-cols-2 grid-rows-2"
    >
      <img :src="item.iconSrc" :alt="item.iconAlt" />
      <span>{{ item.name }}</span>
      <p class="col-start-2 col-end-2 text-sm">{{ item.spawn_location }}</p>
    </div>
    <TitleComponent>Required amount to complete quest</TitleComponent>
    <div>{{ amount }}</div>
    <TitleComponent>Reward</TitleComponent>
    <div class="flex flex-row items-center">
      <img :src="reward.iconSrc" :alt="reward.iconAlt" />
      <span>{{ reward.name }}</span>
    </div>
  </div>
</template>
