<template>
  <router-link
    :to="navigationItem.linkPath"
    class="flex flex-row items-center justify-center p-6 bg-blue-400 text-blue-50 tracking-widest button button__shadow-3d-effect rounded-lg"
  >
    <img
      :src="navigationItem.iconSrc"
      :alt="navigationItem.iconAlt"
      class="mr-5"
    />
    <span class="text-blue-50 font-bold tracking-wider">{{
      navigationItem.text
    }}</span>
  </router-link>
</template>

<script>
export default {
  name: "NavigationItem",
  props: {
    navigationItem: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style>
.button:hover {
  position: relative;
  top: 5px;
}

.button__shadow-3d-effect {
  box-shadow: 0 8px #3b82f6;
}
</style>
