<script>
import NavigationItem from "./NavigationItem.vue";
export default {
  name: "NavigationList",
  components: { NavigationItem },

  setup() {
    const navigationList = [
      {
        id: 1,
        text: "Crops",
        iconSrc: "/icons/crops-icon.png",
        iconAlt: "Crop icon",
        linkPath: "/list-of-crops",
      },
      {
        id: 2,
        text: "Perfection Tracker",
        iconSrc: "/icons/crops-icon.png",
        iconAlt: "Perfection icon",
        linkPath: "/perfection-tracker",
      },
    ];

    return {
      navigationList,
    };
  },
};
</script>

<template>
  <ul>
    <NavigationItem
      v-for="navigationItem in navigationList"
      :key="navigationItem.id"
      :navigation-item="navigationItem"
    />
  </ul>
</template>
