<script>
import TitleComponent from "./TitleComponent.vue";
export default {
  name: "ObeliskMaterialsComponent",
  components: { TitleComponent },
  props: {
    list: {
      type: Array,
      required: true,
    },
  },
};
</script>

<template>
  <div>
    <TitleComponent>List of things to obtain obelisk</TitleComponent>
    <div class="grid grid-cols-2 grid-rows-2 gap-2 justify-center mb-3">
      <div
        v-for="item in list"
        :key="item.name"
        class="flex flex-row items-center"
      >
        <div class="flex flex-row items-center">
          <img class="w-6 h-6 mr-3" :src="item.iconSrc" :alt="item.iconAlt" />
          <span>{{ item.name }} : {{ item.amount }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
