<script>
import TitleComponent from "./TitleComponent.vue";
export default {
  name: "StardropDetailsComponent",
  components: { TitleComponent },
  props: {
    location: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div>
    <TitleComponent>How to find it</TitleComponent>
    <div>
      {{ location }}
    </div>
  </div>
</template>
