<script>
import TitleComponent from "./TitleComponent.vue";
import { computed } from "vue";
export default {
  name: "VillagerDetailsComponent",
  components: { TitleComponent },
  props: {
    birthday: {
      type: Array,
      required: true,
    },
    gifts: {
      type: Array,
      required: true,
    },
    lovedMovies: {
      type: Array,
      required: true,
    },
    dislikedMovies: {
      type: Array,
      required: true,
    },
    lovedSnacks: {
      type: Array,
      required: true,
    },
    dislikedSnacks: {
      type: Array,
      required: true,
    },
  },

  setup(props) {
    const birthdayIcon = computed(() => {
      const icon = props.birthday[0].iconSrc;

      return {
        icon,
      };
    });
    return {
      birthdayIcon,
    };
  },
};
</script>

<template>
  <div>
    {{ birthday[0] }}
    <TitleComponent>Birthday</TitleComponent>
    <div>
      <img :src="birthdayIcon" alt="" />
      <span>{{ birthday.date }}</span>

      {{ birthdayIcon }}
    </div>
    <TitleComponent>Best gifts</TitleComponent>
    <div>
      <div v-for="item in gifts" :key="item.name">
        <img :src="item.iconSrc" :alt="item.iconAlt" />
        <span>{{ item.name }}</span>
      </div>
    </div>
    <TitleComponent>Loved movies</TitleComponent>
    <div>
      <div v-for="item in lovedMovies" :key="item.title">
        <img :src="item.posterIcon" :alt="item.iconAlt" />
        <span>{{ item.name }}</span>
      </div>
    </div>
  </div>
</template>
